#Specify some module class when using it
#moduleClass=
retryAttempts=10
retryTimeout=2000
supervisionTimeout=2000
#turn the remoting mode to true to enable remote actors
remoting=false
#following will take effect if and only if 'remoting' is 'true'
remoteAddress=somehost
remotePort=30000
serviceId=publishingService
